.card {
  .wImagec {
    width: 100%;
    display: block;
    border-radius: 3px;
    object-fit: cover;
    max-height: 300px;
    z-index: 9;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  .card {
    .wImagec {
      width: 100%;
      display: block;
      border-radius: 3px;
      object-fit: cover;
      max-height: 300px;
      z-index: 9;
      cursor: pointer;
    }
  }
}
